@import "tailwindcss";

@theme default {

  --primary: #006EC4;
  --secondary: #001220;
  --color-adminBg: #D9D9D9;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
